<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Add item
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Add item</ion-title>
    </ion-toolbar>
  </ion-header>

  <p class="ion-padding" [hidden]="!message">{{ message }}</p>

  <ion-card class="ion-padding">
    <ion-label position="stacked">Title</ion-label>
    <ion-input [(ngModel)]="title" (ngModelChange)="inputChanged()" [clearInput]="true" placeholder="Enter title"></ion-input>

    <ion-label position="stacked">Description</ion-label>
    <ion-input [(ngModel)]="description" (ngModelChange)="inputChanged()" [clearInput]="true" placeholder="Enter description"></ion-input>
  </ion-card>

  <ion-button class="ion-padding" (click)="addItemClicked()">Add item</ion-button>
</ion-content>
