<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      ToDo List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">ToDo List</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-searchbar [(ngModel)]="searchedTitle" show-cancel-button="focus" placeholder="Enter searched title" (ionChange)="handleChange($event)"></ion-searchbar>

  <ion-list>
    <ion-card *ngFor="let result of results">
      <ion-card-header>
        <ion-card-title>{{ result.title }}</ion-card-title>
        <ion-card-subtitle>{{ result.timestamp }}</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>{{ result.description }}</ion-card-content>
    
      <ion-button (click)="deleteItem(result.id)" fill="clear">Delete</ion-button>
    </ion-card>
  </ion-list>
</ion-content>
