.loader {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1000;
}

.button {
    margin-top: 10px;
    margin-left: 10px;
}

.forecast-item {
    display: flex;
    justify-content: space-between;
}