<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Weather
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Weather</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-spinner class="loader" [hidden]="!loading"></ion-spinner>

  <ion-button class="button" (click)="detectGps()">Detect your position</ion-button>

  <ion-card class="ion-padding">
    <ion-label position="stacked">Latitude</ion-label>
    <ion-input type="number" [(ngModel)]="latitude" [clearInput]="true" placeholder="Enter latitude"></ion-input>

    <ion-label position="stacked">Longitude</ion-label>
    <ion-input type="number" [(ngModel)]="longitude" [clearInput]="true" placeholder="Enter longitude"></ion-input>
  </ion-card>

  <ion-button class="button" (click)="getForecast()">Get forecast</ion-button>
</ion-content>
